<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SBA Home</title>
		<!-- <link rel="stylesheet" href="../public/index.css" /> -->
		<link rel="stylesheet" href="/index.css" />
		<!-- path is because express.static("public") -->
	</head>
	<body>
		<h1><%= message %></h1>

		<nav>
			<ul>
				<li><a class="active" href="/">Home</a></li>
				<li><a href="/users"> Current Users</a></li>
				<li><a href="/posts"> Current Posts</a></li>
				<li><a href="/movies"> Current Movies</a></li>
			</ul>
		</nav>
		<h2>Choose a database to view</h2>
	</body>
</html>
