<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SBA Users</title>
		<!-- <link rel="stylesheet" href="../public/index.css" /> -->
		<link rel="stylesheet" href="/index.css" />
		<!-- path is because express.static("public") -->
	</head>
	<body>
		<h1>Movie Database</h1>

		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/users"> Current Users</a></li>
				<li><a href="/posts"> Current Posts</a></li>
				<li><a class="active" href="/movies"> Movie Database</a></li>
			</ul>
		</nav>
		<!-- Dynamically render the list of posts -->
		<ol>
			<% if (movies.length > 0) { %> <% movies.forEach(movie => { %>
			<li class="movie-data">
				<h4><%= movie.title %> (<%= movie.year%> )</h4>
			</li>

			<% }) } else { %>
			<li>No movie info available</li>
			<% } %>
		</ol>
	</body>
</html>
